{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listing</h2>

    <form action={% url 'create' %} method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <!--
                Notice the inclusion of name attribute,
                it's important not to forget this in django
            -->
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter title of your New Listing">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Enter description of your New Listing">
          </div>
          
          <div class="mb-3">
            <label for="image_url" class="form-label">Image URL</label>
            <input type="text" name="image_url" class="form-control" id="image_url" placeholder="Enter image url of your New Listing">
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="Enter Price of your New Listing">
          </div>

          <div class="form-group">
            <label for="category">Choose a Category</label>
            <select class="form-select" name="category" id="category" aria-label="Default select example">

                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}

              </select>
          </div>

          <button type="submit" class="btn btn-success">Create New Listing</button>
    </form>
{% endblock %}